<div id="content">
	<div class="content-box-title-no-bc">
		<h2><%= t(:change_my_password) %></h2>
	</div>
	<div class="black-header" style="margin-top: 0px; height: 70px;">
		<span><%= t(:instructions_to_change_password) %></span>
	</div>
	<div id="forgot-password" style="width: 50%;">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
		<%= form_for @user, :url => spree.user_password_path, :method => :put do |f| %>
		  <p>
		    <%= f.label :password, t(:password) %><br />
		    <%= f.password_field :password %><br />
		  </p>
		  <p>
		    <%= f.label :password_confirmation, t(:password_confirmation) %><br />
		    <%= f.password_field :password_confirmation %><br />
		  </p>
			<p class="clearfix" style="padding-right: 10px">
				<%= f.hidden_field :reset_password_token %>
				<%= f.submit t(:update_password), :class => 'button primary' %>
			</p>
		<% end %>
	</div>
</div>
