<!DOCTYPE html>
	<!--[if lt IE 7 ]> <html class="ie ie6" lang="it"> <![endif]-->
	<!--[if IE 7 ]>	<html class="ie ie7" lang="it"> <![endif]-->
	<!--[if IE 8 ]> <html class="ie ie8" lang="it"> <![endif]-->
	<!--[if IE 9 ]> <html class="ie ie9" lang="it"> <![endif]-->
	<!--[if gt IE 9]> <html lang="it"> <![endif]-->
	<head data-hook="inside_head">
		<%= render :partial => "spree/shared/head" %>
		<%= render :partial => "spree/shared/google_analytics" %>
	</head>
	<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.3";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W379CW"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-W379CW');</script>
		<!-- End Google Tag Manager -->
		<%= render :partial => "spree/shared/cookies" %>
		<%= render :partial => "spree/shared/header" %>
		<div id="main">
			<%= render :partial => "spree/shared/sidebar" %>
			<%= flash_messages %>

			<%= yield %>
		</div>
		<%= render :partial => "spree/shared/footer" %>
	</body>
</html>
