<div id="twocolumns" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
	<% @body_id = 'product-details' %>
	<div id="content">
		<div class="content-box clearfix">
			<%= raw(@product.description) %>
			<div class="fb-like" data-href="<%= request.url %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>
		<%= render :partial => 'cart_form_high_quality' %>
	</div>
	<div class="aside">
		<div id="fixed">
			<%= render :partial => 'spree/shared/total_order', :locals => {:order => current_order, :calculate_vat => true} %>
			<%= render :partial => 'spree/shared/preventive' %>
			<%= link_to("Scarica il tuo template", download_template_path(@product), :class => 'btn', :id => 'download_template') %>
		</div>
	</div>
</div>