<%= javascript_include_tag 'store/preventive/paperback' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
    paper_products_selected = <%== @product.get_selected_values_json %>;
    paper_cover_selected = <%== @product.get_cover_selected_values_json %>;
    <% if @product.paperback_variants.length > 4 %>
        jQuery(document).ready(function() {
        	jQuery('#variant_carousel').jcarousel();
        });
    <% end %>
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_paperback'}} do |f| %>
    <%= hidden_field_tag(:paperback_product_id, @product.id) %>

    <h2>Formato</h2>
    <div class="format-check">
      <ul id="variant_carousel" class="clearfix">
        <% @product.paperback_variants.each do |v| %>
            <li class="clearfix block f85x25">
              <div class="clearfix">
                  <div class="box"><%= v.template_format.present? ? image_tag(v.template_format.attachment.url(:normal)) : "" %></div>
                <%= radio_button_tag "order[format]", v.id, nil, {:class => 'radio', :id => "radio_format_#{v.id}",
                                                                  :data => {:custom => v.format, :cover => v.cover_variant.id}} %>
                <label for="radio_format_<%= v.id %>"><%= v.format %></label>
              </div>
            </li>
        <% end %>
      </ul>
    </div>

    <h2>Informazioni</h2>
    <div class="clearfix field_content">
      <%#= label_tag "order[number_of_facades]", t(:number_of_facades_with_cover) %>
      <label name="order[number_of_facades]">Facciate totali <span style='font-size:11px'>compresa copertina</span></label>
      <%= text_field_tag "order[number_of_facades]", nil, :class => 'required multiplesOfEight', :min => @product.min_facades, :value => @product.min_facades %>
    </div>
	
    <h2>Materiale Interno</h2>
    <div class="clearfix field_content">
      <label for="paper">Carta</label>
      <select id="paper" name="order[paper]"></select>
    </div>
    
	<div class="clearfix field_content">
      <label for="weight">Grammatura</label>
      <select id="weight" name="order[weight]"></select>
    </div>
    
	<div class="clearfix field_content">
      <label for="order_print_color">Tipo stampa</label>
      <%= select("order", "print_color", [["Bianco e nero", "false"], ["Colori", "true"]], {:include_blank => false}) %>
    </div>
	
	<h2>Materiale Copertina</h2>
	<div class="clearfix field_content">
      <%= label_tag "paper_cover", t(:paper_cover) %>
      <%= select_tag "order[paper_cover]", options_for_select([]), :id => :paper_cover %>
    </div>
    
	<div class="clearfix field_content">
      <%= label_tag "paper_cover_weight", t(:paper_cover_weight) %>
      <select id="paper_cover_weight" name="order[paper_cover_weight]"></select>
    </div>

    <h2>Copie</h2>
    <div class="clearfix field_content">
      <label for="order[number_of_copy]">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
		<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
		<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
    </div>

	<% if false %>
  	<div class="clearfix field_content">
      <%= label_tag "order_plasticization", t(:plasticization_cover) %>
      <%= select_tag("order[plasticization]", options_for_select(Spree::Plasticization.plasticization_types_all.collect { |ps| [ps, ps] }), {:prompt => "Seleziona la plastificazione"}) %>
    </div>
	<% end %>

	<div class="clearfix field_content">
      <label for="order_print_color">Tipo Copertina</label>
      <%= select("order", "sleeve", ["Senza Alette", "Con Alette"], {:include_blank => false}) %>
    </div>
	
    <div class="clearfix field_content">
      <%= label_tag "", "Dorso" %>
      <p id="dorso"> 0 mm </p>
    </div>

<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}€)"%></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>
	
    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>

<% end %>