<div id="content">
  <div class="content-box-title-no-bc">
    <h2><%= t(:order) + " #" + @order.number %></h2>
  </div>

  <div id="order-summary" data-hook>
    <% if params.has_key? :checkout_complete %>
        <h3><%= t(:thank_you_for_your_order) %></h3>
		<!-- Google Code for Checkout Conversion Page -->
		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 987298221;
			var google_conversion_language = "it";
			var google_conversion_format = "2";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "Yy5-CMvzzhAQrfPj1gM"; var google_conversion_value = 0;
			var google_remarketing_only = false;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"> </script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/987298221/?value=0&amp;label=Yy5-C MvzzhAQrfPj1gM&amp;guid=ON&amp;script=0"/>
			</div>
		</noscript>
    <% end %>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
    <br class="clear"/>
	
    <p data-hook="links">
	  <%= link_to(t(:print_invoice, :scope => :spree), pdf_invoice_path(:order_id => @order.id, :format => :pdf), :class => "button dark") if @order.invoice.present? %>
      <%= link_to  spree.root_path, :class => "button" do %>
          <span><%= t(:back_to_store) %> </span>
      <% end %>
      <% unless params.has_key? :checkout_complete %>
          <% if respond_to?(:current_user) && current_user %>
              <%= link_to  spree.account_path, :class => "button" do %>
                <span><%= t(:my_account) %></span>
               <% end %>
          <% end %>
      <% end %>
    </p>
  </div>
</div>