/*
jCountdown Plugin for jQuery JavaScript Library

v 1.1.1 02/12/2012

http://codecanyon.net/user/ufoufoufo

Copyright (c) 2012
*/

/* size */
.jCountdownContainer{
    position:relative;
    padding:0px;
    margin:0px;
    display:inline-block;
    *zoom:1;                /* IE */
    *display:inline;        /* IE */
}

/* scale */
.jCountdownScale{
    position:absolute;
    padding:0px;
    margin:0px;
}

/* countdown */
.jCountdown{
    padding:0px;
    margin:0px;
    white-space:nowrap;
}

/* group */
.jCountdown .group{
    padding:0px;
    margin:0px;
    display:inline-block;
    *zoom:1;                /* IE */
    *display:inline;        /* IE */
}

/* label */
.jCountdown .group>.label{
    position:relative;
    left:50%;
    padding:0px;
    margin:0px 0px 0px -40px;   
    width:80px;
}

.jCountdown.slide .group>.label{
    height:15px;
}
.jCountdown.slide.black .group>.label{
    background-image:url(jcountdown_slide_black.png);
}
.jCountdown.slide.white .group>.label{
    background-image:url(jcountdown_slide_white.png);
}
.jCountdown.slide .group.day>.label{
    background-position:-60px -150px;
}
.jCountdown.slide .group.hour>.label{
    background-position:-60px -175px;
}
.jCountdown.slide .group.minute>.label{
    background-position:-60px -200px;
}
.jCountdown.slide .group.second>.label{
    background-position:-60px -225px;
}

/* container */
.jCountdown .group>.container{
    position:relative;
    padding:0px;
    margin:0px;
    display:inline-block;
    *zoom:1;                /* IE */
    *display:inline;        /* IE */
}

.jCountdown.slide .group>.container{
    width: 26px;
    height: 31px;
    padding:1px 0px 1px 0px;
    background-position:-111px 0px;
}
.jCountdown.slide .group>.container:first-child{
    padding:1px 0px 1px 1px;
    background-position: -29px 0px;
}
.jCountdown.slide .group>.container.lastItem{
    padding:1px 1px 1px 0px;
    background-position: -196px 0px;
}
.jCountdown.slide.black .group>.container{
    background-image:url(jcountdown_slide_black.png);
}
.jCountdown.slide.white .group>.container{
    background-image:url(jcountdown_slide_white.png);
}

/* cover */
.jCountdown .group>.container>.cover{
    position:absolute;
    z-index:1;
    padding:0px;
    margin:0px;
}

.jCountdown.slide .group>.container>.cover{
    left:0px;
    top:1px;
    width: 25px;
    height: 30px;
    background-position: -110px -35px;
}
.jCountdown.slide .group>.container:first-child>.cover{
    left:1px;
    background-position: -29px -35px;
}
.jCountdown.slide .group>.container.lastItem>.cover{
    right:1px;
    background-position: -195px -35px;
}
.jCountdown.slide.black .group>.container>.cover{
    background-image:url(jcountdown_slide_black.png);
}
.jCountdown.slide.white .group>.container>.cover{
    background-image:url(jcountdown_slide_white.png);
}

/* text */
.jCountdown .group>.container>.text{
    padding:0px;
    margin:0px;
}

.jCountdown.slide .group>.container>.text{
    width: 26px;
    height: 30px;
}
.jCountdown.slide.black .group>.container>.text{
    background-image:url(jcountdown_slide_black.png);
}
.jCountdown.slide.white .group>.container>.text{
    background-image:url(jcountdown_slide_white.png);
}
