@import "theming"

body
  margin: 0px
  color: #1A171B
  font-family: $font-family-primary
  font-size: 14px
  line-height: 17px
  background: $body-bg
  min-width: $body-min-width

table tbody tr td, table tfoot tr td
  text-align: center

dl dt, dl dd
  display: inline-block
  width: 40%
  padding: 2px

h1, h2, h3, h4, h5, h6
  font-weight: bold
  color: $white-black

img 
  border-style: none

a
  text-decoration: none
  &:hover
    text-decoration: none
    color: #06aff8 !important

input, textarea, select
  font-size: 100%
  vertical-align: middle
  color: $black

textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]
  border: 1px solid #D9D9DB
  padding: 2px 5px
  font-family: $font-family-primary
  font-size: 12px

form, fieldset
  margin: 0px
  padding: 0px
  border-style: none

button, input[type="reset"], input[type="submit"], input[type="button"], a.button
  font:
    weight: bold
    size: 16px
  line-height: 18px

input[type="submit"], input[type="button"], input[type="reset"], button, a.button
  font-family: $font-family-primary
  background-color: #06aff8
  border: 1px solid #06aff8

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, a.button:hover
  background-color: #404042

.clearfix:after
  content: "."
  display: block
  height: 0px
  clear: both
  visibility: hidden

.right-txt
  text-align: right

.small
  font-size: 11px

.black
  color: $white-black !important

.grey
  color: $grey !important

.sky
  color: #00ADEE !important

.bold
  font-weight: bold !important

a.available, a.not-available
  height: 293px
  width: 220px
  position: absolute
  overflow: hidden
  background: white url(loader.gif) no-repeat center
  &:hover
    text-decoration: none

.loader-box
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,0.9)

#ajax-loader
  position: absolute
  top: 100px
  left: 80px
  width: 50px

#ajax-loader.simple
  top: -170px	

/* ERROR */
label.error
  font-size: 10px
  color: #E45353
/* ERROR */

/* HEADER */
.header-holder
  width: $header-holder
  margin: 0px auto
  padding: 0px
  background: url(logo-title.png) no-repeat 120px

.header-block:after, .cart-box:after
  content: "."
  display: block
  height: 0px
  clear: both
  visibility: hidden

.header-block
  position: relative
  .left
    margin-top: 10px
  .right
    margin-top: 20px

#header
  background: $header-bg
  height: 110px
  h1
    margin: 0px
    background: url(logo.png) no-repeat
    width: 110px
    height: 92px
    overflow: hidden
    text-indent: -9999px
    float: left
    a
      display: block
      height: 100%
    &:hover
      color: #ffffff !important
/* HEADER */

/* MAIN NAV */
#main-nav
  list-style: none
  float: left
  line-height: 23px
  margin: 68px 0px 0px 10px
  font-size: 13px

#main-nav > li
  float: left
  margin: 0px 0px 0px 13px
  position: relative

#main-nav > li:first-child
  margin: 0px

#main-nav > li > a
  padding: 0px 0px 0px 25px
  display: block
  color: #313131
  &:hover
    text-decoration: none

#main-nav .active > a
  color: #06aff8

#main-nav .home > a
  background: url(ico-home.png) no-repeat
  &:hover
    background-position: 0px -23px

#main-nav .home.active > a
  background-position: 0px -23px

#main-nav .products > a
  background: url(ico-products.png) no-repeat
  &:hover
    background-position: 0px -23px

#main-nav .products.active > a
  background-position: 0px -23px

#main-nav .about > a
  background: url(ico-about.png) no-repeat
  &:hover
    background-position: 0px -22px

#main-nav .contact > a
  background: url(ico-contact.png) no-repeat
  &:hover
    background-position: 0px -25px

#main-nav .newsletter > a
  background: url(ico-newsletter.png) no-repeat
  &:hover
    background-position: 0px -23px

#main-nav .blog > a
  background: url(ico-blog.png) no-repeat
  &:hover
    background-position: 0px -23px

#main-nav > li:hover > ul
  display: block

#main-nav > li > ul
  z-index: 9
  margin: 0px
  padding: 11px 0px 0px
  list-style: none
  background: url(bg-subnav.png) no-repeat
  width: 230px
  position: absolute
  top: 20px
  left: 0px
  display: none

#main-nav > li > ul > li:hover
  position: relative

#main-nav > li > ul > li a
  padding: 6px
  border: 1px solid #606060
  display: block
  background: $dark-grey
  color: $white

#main-nav > li > ul > li:first-child > a
  border-top: none

#main-nav > li > ul > li a:hover
  color: #313131 !important
  text-decoration: none
  background: #ececec

#main-nav > li > ul > li:hover > ul
  display: block

#main-nav ul ul
  margin: 0px
  padding: 0px
  list-style: none
  width: 230px
  position: absolute
  top: 0px
  left: 100%
  display: none

#main-nav ul ul li:hover
  position: relative

#main-nav ul ul li a
  border: 1px solid #606060
  padding: 6px
  border-top: none

#main-nav ul ul li:first-child a
  border-top: 1px solid #606060
/* MAIN NAV */

/* NAVIGATION */
#navigation:after
  content: "."
  display: block
  height: 0px
  clear: both
  visibility: hidden

#navigation
  margin: 2px 0px
  list-style: none
  font-size: 11px
  line-height: 21px

#navigation li
  float: left
  margin: 0px 0px 0px 10px

#navigation li:first-child
  margin: 0px
#navigation li a
  display: block
  padding: 0px 0px 0px 25px
  color: #313131

#navigation .register
  margin: 0px 0px 0px 5px

#navigation .register a
  padding: 0px

#navigation .login a
  background: url(ico-login.png) no-repeat
  &:hover
    background-position: 0px -24px

#navigation .account a
  background: url(ico-account.png) no-repeat
  &:hover
    background-position: 0px -25px

#navigation .info a
  background: url(ico-info.png) no-repeat
  &:hover
    background-position: 0px -26px

#navigation span
  padding: 0px 5px 0px 0px
  background: url(separator.png) no-repeat 100% 50%
/* NAVIGATION */

/* NAV */
#nav
  margin: 0px 0px 16px
  padding: 0px
  list-style: none
  overflow: hidden
  font-weight: normal
  font-size: 16px
  line-height: 23px
  a:hover
    color: #ECECEC
    background-color: #36b8f4

#nav li a
  display: block
  margin: 0px 0px 1px
  color: $white
  padding: 9px 10px 9px
  background: url(bg-button-menu.png) no-repeat 0px -315px
  &:hover
    text-decoration: none
    color: $white !important

#nav li ul li a
  padding: 9px 10px 8px
  background: url(bg-button-menu.png) no-repeat 0px -47px
  font-size: 12px

#nav li ul li a:hover
  background: url(bg-button-menu.png) no-repeat 0px 1px

#nav .blue > a
  background: url(bg-button-menu.png) no-repeat 0px -180px

#nav .green > a
  background: url(bg-button-menu.png) no-repeat 0px -225px

#nav .red > a
  background: url(bg-button-menu.png) no-repeat 0px -360px

#nav .yellow > a
  background: url(bg-button-menu.png) no-repeat 0px -270px
  color: #777777

#nav .black > a
  background: url(bg-button-menu.png) no-repeat 0px -91px

#nav .orange > a
  background: url(bg-button-menu.png) no-repeat 0px -135px

#nav ul
  margin: 0px
  padding: 0px 0px 0px 9px
  list-style: none
  overflow: hidden
/* NAV */

/* COL & BOX */
.col .box
  min-height: 287px
  position: relative

.box
  width: 220px
  padding: 0px 0px 6px
  .hover
    display:none

.col
  float: left
  width: 220px
  margin: 0px 20px 0px 0px
  h3
    margin: 0px
    background: url(product-content-box.png) no-repeat -4px -553px
    font:
      weight: normal
      size: 16px
    line-height: 37px
    color: #feffff
    padding: 4px 35px 0px 7px
    border: none
    height: 38px

.col.last
  margin: 0px

.col.green h3
  background-position: -4px -508px

.col.red h3
  background-position: -4px -463px

.col-twocolumns
  width: 700px
  margin: 0px 20px 0px 0px
  h3
    margin: 0px
    background: url(product-content-box.png) repeat-x 0px -605px
    font:
      weight: bold
      size: 16px
    line-height: 37px
    color: #FFFFFF
    height: 38px
    padding: 4px 35px 0px 7px

.col-twocolumns h3.red
  background-position: 0px -701px

.col-twocolumns h3.yellow
  background-position: 0px -745px

.col-twocolumns h3.green
  background-position: 0px -605px

.box-twocolumns
  width: 700px
  height: 291px
  padding: 0px 0px 6px
  position: relative
  background: #efefef
  margin-bottom: 20px

.box-twocolumns h2
  background: url(product-content-box.png) no-repeat -4px -371px
  margin: 0px
  font-weight: normal
  font-size: 16px
  line-height: 25px
  padding: 0px
  position: relative
  z-index: 1
  height: 87px
  color: #020B4E
  margin-bottom: -74px

.box-twocolumns h2 span
  display: block
  padding: 20px 10px 16px
  text-align: center

.box-twocolumns h2.red-title
  background-position: -4px -190px

.box-twocolumns h2.green-title
  background-position: -4px -280px

.box-twocolumns h2.yellow-title
  background-position: -4px -190px

.box-twocolumns a.available, .box-twocolumns a.not-available
  float: left
  position: relative

.hover-img.index
  position: absolute
  top: 10px

.box-description
  float: left
  height: 283px
  width: 458px
  padding: 10px

.box h2
  background: url(product-content-box.png) no-repeat -4px -371px
  margin: 0px
  font:
    weight: normal
    size: 16px
  line-height: 20px
  padding: 0px
  height: 87px
  position: relative
  z-index: 1
  color: #020B4E
  span
    display: block
    padding: 20px 10px 16px
    text-align: center

.col.green h2
  background-position: -4px -280px

.col.red h2
  background-position: -4px -190px

.col .box img
  position: absolute

.box img
  bottom: 0px
  left: 0px
/* COL & BOX */

/* BUY FORM */
.buy-form
  padding: 0px 22px 25px
  h2
    margin: 10px -22px 12px
    background: $dark-grey
    color: #cacaca
    font:
      weight: bold
      size: 16px
    line-height: 16px
    padding: 6px 15px
    clear: both
    width: 429px
  .row
    padding: 0px 0px 32px
    border-bottom: 1px solid #d6d6d6
    overflow: hidden
    margin: 0px -22px 28px
  label
    font-size: 12px
    line-height: 13px
    float: left
    width: 113px
    clear: left
    margin: 5px 0px 15px
  .block label
    background: #06aff8
    color: $white
    font-size: 11px
    line-height: 14px
    padding: 3px 4px 4px

.buy-form select, .buy-form input
  float: right
  clear: right
  width: 250px

.buy-form table
  border: 1px solid #D9D9DB
  border-collapse: collapse
  th
    background: #DFDFDF
    font-size: 11px
    font-weight: normal
    text-align: center
    line-height: 14px
    padding: 5px 10px
  td
    text-align: left
    padding: 0px 5px
    text-align: center

.buy-form table#order_detail td
  text-align: left
  padding: 5px
  ul li
    font-size: 12px

.buy-form table#order_detail td.total
  text-align: right
  vertical-align: bottom
  font-weight: bold

.buy-form table .radio
  margin: 10px 0px

.buy-form table tr.alt
  background: #dfdfdf

.buy-form table td.alt
  font-size: 10px
  line-height: 13px
  text-align: left

.buy-form .btn-submit
  width: 279px
  height: 45px
  float: right
  cursor: pointer
  border: 0px
  padding: 0px
  margin: 0px
  span
    display: block
    padding: 12px 25px 13px 12px
    background: url(btn-buy.png) no-repeat 225px 50%

.buy-form .block
  margin: 0px 45px 0px
  float: left
  text-align: center
  width: 120px

.buy-form .f85x5
  margin: 0px 0px 0px 15px

.buy-form .f9x5
  margin: 0px 0px 0px 15px

.buy-form .f85x55
  margin: 0px 0px 0px 15px

.buy-form .f85x25
  margin: 0px 0px 0px 15px

.buy-form .box
  border: 1px solid #ababab
  background: none
  margin: 0px auto 10px

.buy-form .box.custom
  border-style: dashed
  background: #ECECEC

.buy-form .f85x5 .box
  width: 63px
  height: 63px

.buy-form .f85x25 .box
  width: 63px
  height: 63px

.buy-form .f9x5 .box
  width: 63px
  height: 63px

.buy-form .f85x55 .box
  width: 63px
  height: 63px

.buy-form .hor
  padding: 17px 0px 0px
  margin: 0px 0px 0px 50px
  .box
    width: 70px
    height: 46px

.buy-form .vert
  margin: 0px 0px 0px 60px
  .box
    width: 52px
    height: 64px

.buy-form .radio
  margin: 0px auto 4px
  display: block
  height: 16px
  width: 16px
  padding: 0px
  float: none

.buy-form .block span
  background: #e42424
  color: $white
  font:
    size: 11px
  line_height: 14px
  padding: 3px 4px 4px
/* BUY FORM */

/* BREADCRUMBS */
.breadcrumbs
  margin: 0px
  padding: 5px 0 10px
  list-style: none
  font-size: 12px
  li
    display: inline
    padding: 0px 3px 0px 10px
    background: url(separator-breadcrumbs.png) no-repeat 0% 50%

.breadcrumbs li:first-child
  padding: 0px 3px 0px 0px
  background: none

.breadcrumbs li a
  color: $dark-grey

.breadcrumbs-ol
  color: #CACACA
  list-style: none

.breadcrumbs-ol li
  float: left
  margin-right: 6px
  margin-left: 6px
  font-family: $font-family-secondary
  font-size: 16px
  font-weight: bold

.current-state span
  background-color: white
  color: black
  padding: 2px

.breadcrumbs-ol li a
  color: #CACACA
  text-decoration: none

.content-box-breadcrums
  min-height: 40px
  display: table-cell
  background-color: $dark-grey
  height: 40px
  width: 500px
  vertical-align: middle
/* BREADCRUMBS */

/* FOOTER */
#footer
  border-top: 1px solid #d1d1d1
  font-size: 12px

.footer-header
  background: url(bg-footer-header-repeat.png) repeat-x
  height: 46px

.footer-holder
  background: $footer-bg
  margin: 0px
  h3
    margin: 0px 0px 8px
    font:
      weight: normal
      size: 20px
    line-height: 23px
    padding: 0px

.footer-frame
  width: $footer-frame-width
  margin: 0px auto
  overflow: hidden
  padding: 15px 0px 8px

.footer-block
  width: $footer-block-width
  margin: 0px auto
  color: $dark-grey
  padding-top: 13px
  height: 45px
  background: url(all-color-bg.png) no-repeat left bottom

.footer-bg
  height: 58px
  background: url(bg-footer-bottom.png) repeat-x

.footer-holder
  color: #6a6969

.footer-holder h3
  color: #06aff8

.medium-footer
  padding-top: 6px
  color: #FFF
  float: left
  font-size: 15px

/* FOOTER */


/* ASIDE */
.aside .box
  width: 220px
  background: #efefef
  padding: 0px 0px 8px
  font-size: 15px
  line-height: 18px
  color: #545454
  margin: 0px 0px 15px
  position: relative
  h2
    background: url(product-content-box.png) no-repeat -4px -280px
    padding: 0px
    font:
      size: 20px
    line-height: 40px
    color: #716D6D
    span
      display: block
      padding: 8px 10px 4px
      text-align: center

.aside .box.red h2
  background-position: -4px -371px
  span
    color: #0199d9

.aside .box dl
  margin: 4px 0px
  overflow: hidden
  padding: 0px 8px
  dt
    float: left
    clear: left
    margin: 0px 0px 1px
    font-size: 10px
    line-height: 14px
    width: 55%
  dd
    float: right
    clear: right
    font-size: 13px
    line-height: 14px
    width: 80px

.aside .btn-buy
  display: block
  background: #06aff8
  font-size: 14px
  line-height: 20px
  color: $white
  margin: 0px 10px
  span
    display: block
    padding: 12px 25px 13px 12px
    background: url(btn-buy.png) no-repeat 165px 50%

.aside .btn-buy:hover
  text-decoration: none
  color: $white !important
  background: $dark-grey

.aside .btn
  margin: 0px auto
  background: url(bg-btn-alt.png) no-repeat
  width: 136px
  height: 127px
  text-align: center
  font:
    weigth: bold
    size: 20px
  line-height: 23px
  color: #ececec
  padding: 30px 25px
  display: block

.aside .btn:hover
  background: url(bg-btn-alt.png) no-repeat
/* ASIDE */

/* PAGE */
.page-content
  background-color: $white
  color: $black
  padding: 10px
  width: 680px

.left
  float: left !important

.right
  float: right !important
.clearer
  clear: both

.content-box-no-bc
  background-color: $white
  width: 710px
  vertical-align: middle
  padding-left: 10px
  font-size: 24px
  padding-bottom: 30px

.min-font
  font-size: 15px
  line-height: 18px
  width: 680px

.boxp
  font-size: 15px
  color: $white
  padding: 14px 10px 14px 6px
  width: 200px
  margin-bottom: 10px

.boxp.red
  background: $red
.boxp.green
  background: $green
.boxp.blue
  background: $blue

.icon-tel
  display: inline-block
  width: 21px
  height: 16px
  line-height: 14px
  vertical-align: text-bottom
  background-image: url(shape-contact-icons.png)
  background-position: 0px -10px
  background-repeat: no-repeat

.icon-fax
  display: inline-block
  width: 21px
  height: 16px
  line-height: 14px
  vertical-align: text-bottom
  background-image: url(shape-contact-icons.png)
  background-position: 0px -62px
  background-repeat: no-repeat

.icon-adr
  display: inline-block
  width: 21px
  height: 25px
  line-height: 14px
  vertical-align: text-bottom
  background-image: url(shape-contact-icons.png)
  background-position: 0px -120px
  background-repeat: no-repeat

.maps-contacts
  width: 700px
  height: 350px
  margin-bottom: 35px
  margin-left: -10px

.content-box-title-no-bc
  background-color: $white
  display: table-cell
  width: 710px
  vertical-align: middle
  padding: 10px
  font-size: 24px

#contact_form input, #contact_form textarea
  height: 40px
  background-color: #EFEFEF
  border: 1px solid #F9F9F9
  font-size: 14px

#contact_form a.button
  margin-top: 15px
  background-color: #06aff8
  width: 200px
  height: 25px
  padding: 15px 5px 5px 5px
  border: none
  font-size: 15px
  margin-right: 10px
  text-align: center

#contact_form a.button.secondary:hover
  background-color: #333

/* PAGE */

/* ADDRESS & FORM */
#checkout_form_address #billing, #shipping, #shipping_method, #payment, #order_details, #order_summary
  margin-top: 10px
  border: none
  padding: 0

/*#checkout_form_address select*/
  /*-moz-appearance: window*/
  /*background: none repeat scroll 0 0 transparent*/
  /*padding-top: 9px*/

.select-parent
  background: url("select_arrow.png") no-repeat scroll right center #EFEFEF
  float: left
  height: 36px
  overflow: hidden
  width: 202px
  padding: 0px

#bcountry, #scountry
  width: 216px

#checkout_form_address #order_bill_address_attributes_state_id, #checkout_form_address #order_ship_address_attributes_state_id
  margin-left: 0px

#checkout_form_address input, .edit_user input, #login-form input, #user_signin input, #login-form select, #checkout_form_address select, .edit_user select, #user_signin select, #forgot-password input
  width: 100%
  height: 40px
  background-color: #EFEFEF
  border: 1px solid #F9F9F9

#login-form input
  width: 100%
#login-form select
  width: 300px

/*#checkout_form_address select*/
  /*background: url(select_arrow.png) no-repeat #EFEFEF right*/

/*#checkout_form_address .input-right*/
  /*margin-left: 30px*/

#bstate, #sstate
  margin-left: 0px
  margin-top: 0px
  display: inline
  float: right

#bcountry, #scountry
  float: left

#bzipcode, #szipcode
  clear: both

p[data-hook="use_billing"]
  float: none
  margin: 0px
  padding: 0px
  margin-left: 11px

#checkout_form_address #order_use_billing
  width: 25px

.inner
  padding: 0 11px
  p
    padding: 10px 0px 0px

/* ADDRESS & FORM */

/* LIST */
.list-center ul
  text-align: center

.list-center li
  list-style-type: none
  display: inline-block

.list-center li label
  background: $format-label-color
  color: $white
  font-size: 12px
  line-height: 14px
  padding: 3px 4px 4px

.list-center li img
  margin: 5px auto
  display: block

.list-center li input
  display: block
  margin: 5px auto
  padding-top: 5px

.list-center
  margin: 30px 0px
  clear: both
/* LIST */




