//@import "theming"
/* -------------------- homepage elements ------------------------ */

$black: #000
$white: #fff
$blue: #1163b5
$green: #0ebf74
$red: #f90808
$yellow: #f3e53d
$orange: #f99808

$colore_h2_elemento: #020B4E
$colore_p_elemento: #000


.element
  width: 160px
  float: left
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif
  color: black
  margin: 10px 9px 0px 6px
  position: relative
  padding: 0 0 4px
  background: url(shadow_homepage_element.png) no-repeat scroll left bottom transparent
  img
    width: 160px
    height: 142px
    display: block
  .separator_element
    width: 160px
    height: 4px
    position: relative
    top: -4px
    background: url(separator_homepage_element.png) no-repeat scroll 0 0 transparent
  .text_content
    width: 160px
    height: 35px
    padding: 0 !important
    border: none !important
  .text_content_hidden
    z-index: 9
    visibility: hidden
    position: absolute
    left: -1px
    padding-bottom: 4px
    background: url(shadow_homepage_element.png) no-repeat scroll left bottom transparent
  h2
    width: 160px
    height: 35px 
    margin: auto
    color: $colore_h2_elemento
    text-align: center
    line-height: 35px
    font-weight: normal
    font-size: 14px !important
    background: none
  p
    padding: 0px 10px 5px 10px
    width: 140px
    color: $colore_p_elemento !important
    font-weight: normal
    font-size: 11px !important
    line-height: 13px
    text-align: left
    border-top: 0px
    border-right: 1px
    border-left: 1px
    border-bottom: 5px
    border-style: solid
    background-color: #ffffff
    background-image: linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 65%)
    background-image: -o-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 65%)
    background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 65%)
    background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 65%)
    background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 29%, rgb(255,255,255) 65%)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.29, rgb(235,235,235)), color-stop(0.65, rgb(255,255,255)))

.element_decorator
  height: 181px
  width: 160px
  position: relative
  margin: 1px 1px 0px 1px
  background-color: white
  border-bottom: 5px
  border-style: solid
  &:hover
    width: 160px
    margin: 0px 0px 0px 0px
    border-top: 1px
    border-left: 1px
    border-right: 1px
    border-style: solid

.element:hover	.text_content_hidden
  visibility: visible

.element.black .element_decorator, .element.black p 
  border-color: $black
  color: $black

.element.blue .element_decorator, .element.blue p 
  border-color: $blue
  color: $blue

.element.red .element_decorator, .element.red p  
  border-color: $red
  color: $red

.element.green .element_decorator, .element.green p 
  border-color: $green
  color: $green

.element.orange .element_decorator, .element.orange p 
  border-color: $orange
  color: $orange

.element.yellow .element_decorator, .element.yellow p 
  border-color: $yellow
  color: $yellow
