#new-customer form{
    background-color: #ffffff;
}

.login-form {
	background: #FFF;
    padding: 0 10px;
}

#new-customer .black-header{
    margin-top: 0;
}


#login-form #billing,
#login-form #shipping{
    margin: 0 -10px;
    border: none;
    padding: 10px 0;
}

#login-form #shipping .inner{
    display: block !important;
}


#login-form label.error{
    margin-left: -335px;
}

.user_signin{
    background-color: #ffffff;
    padding: 10px;
}
.user_signin h2 {
	font-size: 13px;
	float: left;
}

#existing-customer {
	padding: 10px;
}
#existing-customer p {
	font-size: 13px;
	float: left;
	margin: 0px 10px 0px 0px;
}

#user_signin input[type="submit"]{
    float: none;
    margin-left: 485px;
}
#user_signin input[type="checkbox"]{
    width: 15px;
}
#user_signin input[type="email"],
#user_signin input[type="password"]{
    width: 400px;
}


#new-customer{
    width: 700px;
}

#forgot-password {
	background-color: #ffffff;
    padding: 10px;
}