body {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	color: #313131;
	margin: 0px;
}
#wrapper {
	min-width: 980px;
}
.clearer { clear: both; }

#header {
	min-height: 120px;
}
h2 {
	display: block;
	font-size: 10px;
	font-weight: bold;
	color: #919191;
	margin: 0px;
	padding: 0px;
	margin-bottom: 8px;
}
h3 {
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: #515151;
	margin: 0px;
	padding: 0px;
	margin-bottom: 8px;
}
p {
	display: block;
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}
p.small {
	font-size: 13px;
}
p.mini {
	font-size: 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.left { float: left !important; }
.right { float: right !important; }
.bold { font-weight: bold !important; }
.right-txt { text-align: right !important; }

.logo {
	margin: 10px 20px 20px;
	background: #E2E2E2;
	border-radius: 10px;
	padding: 10px;
}
.border-margin {
	margin: 12px;
	padding: 10px;
	border: 1px solid #ECECEC;
}
.borderblack-margin {
	margin: 12px;
	padding: 10px;
	border: 1px solid #313131;
}
.margin {
	margin: 12px;
	padding: 10px;
}

.row {
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

[class*="col"] {
  float: left;
  margin-left: 20px;
}
.col1 {
  width: 60px;
}
.col2 {
  width: 140px;
}
.col3 {
  width: 220px;
}
.col4 {
  width: 300px;
}
.col5 {
  width: 380px;
}
.col6 {
  width: 460px;
}
.col7 {
  width: 540px;
}
.col8 {
  width: 620px;
}
.col9 {
  width: 700px;
}
.col10 {
  width: 780px;
}
.col11 {
  width: 860px;
}
.col12 {
  width: 940px;
}

.offset3 {
  margin-left: 260px;
}
.offset4 {
  margin-left: 370px;
}
.offset5 {
  margin-left: 380px;
}
.offset6 {
  margin-left: 500px;
}
.offset8 {
  margin-left: 660px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th {
  padding: 8px;
  line-height: 20px;
  text-align: right;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
}
.table td {
	vertical-align: top;
	text-align: right;
	padding: 5px;
	line-height: 20px;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}