.content-box-title {
    height: 43px;
    background-color: #ffffff;
}

.content-box-title-black {
    background-color: #313131;
}

.content-box-title h2, .product-name h2 {
    padding-top: 6px;
    padding-left: 10px;
    font-size: 16px;
}

.product-name {
	height: 55px;
	background-color: #06AFF8;
	clear: both;
	padding-right: 6px;
}

.product-name h2 {
	color: #ffffff;
	float: left;
	margin-top: 6px;
	font-size: 18px;
}

.square {
    height: 31px;
    width: 31px;
    border: solid 1px #ffffff;
    float: right;
    margin-top: 9px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.delete-cart {
    background-color: #bababa;
}
.collapse {
    cursor: pointer;
}
.collapse span {
    display: block;
    margin-top: 5px;
}
.collapse span:hover {
    color: #313131;
}

.delete-cart span {
    display: block;
    margin-top: 3px;
    cursor: pointer;
}
.delete-cart a {
    color: #ffffff;
}
.delete-cart a:hover span, .delete-cart a:active span {
    color: #313131;
    text-decoration: none;
}

.order-detail {
    width: 459px;
}

.order-detail td {
    font-size: 15px;
}

.order-detail .odd {
    background-color: #dfdfdf;
}

.cart-buttons {
    height: 95px;
    margin-top: 18px;
}

.empty-cart {
    height: 45px;
    width: 200px;
    background-color: #BABABA;
    color: white;
    text-align: center;
    margin-left: 7px;
    float: left;
}

.empty-cart span, .shop-continue span {
    display: block;
    padding-top: 15px;
    font-size: 16px;
}

.empty-cart span.x {
    float: right;
    margin-right: 10px;
    font-size: 31px;
    display: block;
    margin-top: -18px;
}

.shop-continue {
    width: 200px;
    height: 45px;
    background-color: #3FBDE7;
    color: white;
    text-align: center;
    float: right;
    margin-right: 10px;
}

.shop-continue a span {
    font-size: 14px;
    color: #ffffff;
}

.shop-continue a:hover {
    text-decoration: none;
}

.shop-continue span .right-arrow {
    width: 10px;
    height: 20px;
    background: url(arrow-right.png);
    float: right;
    margin-top: 0px;
    background-position-x: -11px;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-top: 13px;
}

#cart-empty {
    cursor: pointer;
}

.empty-cart-message {
    font-size: 20px;
	line-height: 23px;
    text-align: center;
    height: 80px;
    clear: both;
    padding-top: 50px;
}

input[type="submit"].buy {
    background: url("cart.png") no-repeat #3FBDE7;
    background-position: 160px 10px;

    width: 200px;
    height: 45px;
    border: none;
    font-size: 14px;
}

input[type="submit"].buy:hover {
    background: url("cart.png") no-repeat #3FBDE7;
    background-position: 160px 10px;
}

#login-form input[type="submit"],
.edit_user input[type="submit"],
#checkout_form_address input[type="submit"],
#checkout_form_delivery input[type="submit"],
#checkout_form_payment input[type="submit"] {
    background: url("cart.png") no-repeat #3FBDE7;
    background-position: 160px 10px;
    width: 200px;
    height: 45px;
    border: none;
    font-size: 14px;
    float: right;
    margin-right: 10px;
}

#login-form input[type="submit"] {
    float: none;
    margin-left: 483px;
    background-image: none;
}

#checkout_form_upload_image input[type="submit"]:hover {
    background-color: #3FBDE7;
}

#checkout_form_upload_image input[type="submit"],
.edit_user input[type="submit"],
#new_user input[type="submit"],
#user_signin  input[type="submit"] {
    background-color: #3FBDE7;
    width: 200px;
    height: 45px;
    border: none;
    font-size: 14px;
    float: right;
    margin-right: 10px;
}

.edit_user input[type="submit"] {
    background-image: none;
}

.edit_user input[type="submit"]:hover {
    background-image: none;
    background-color: #3FBDE7;
}

#first-step label.error {
    display: inline;
    font-size: 11px;
    color: #E45353;
    margin-top: 17px;
    position: absolute;
    margin-left: -44px;
}

.cart-div {
    height: 55px;
    padding-top: 20px;
}

#checkout_form_upload_image p {
    padding-left: 10px;
    padding-right: 10px;
}

#order {
    border: solid 1px black;
    padding: 10px;
    background-color: white;
    width: 678px;;
}

#order a.button:hover {
    background-color: #3FBDE7;
    border: none;
}

#order a.button {
    width: 270px;
    height: 45px;
    background-color: #3FBDE7;
    border: none;
}

#order a.button span {
    text-align: center;
    margin-top: 15px;
    display: block;

}

#order p[data-hook="links"] {
    width: 585px;
    margin: auto !important;
}

.date-select, .date-promotion {
    width: 100%;
    margin: 20px 0;
}

/* Start order summary */

#order-summary {
    width: 700px;
    background-color: #ffffff;
}

#order-summary h2 {
    width: 670px;
    margin-bottom: 0;
}

.h2-body {
    padding: 20px 0;
}

#order-summary table {
    width: 700px;
    padding: 0;
    margin-left: -22px;
    margin-top: 0;
}

#order-summary .odd {
    background-color: #DFDFDF;
}

div[data-hook="account_my_orders"] p {
    padding: 10px;
}

.order-detail td {
    text-align: left;
}
.order-detail .bold{
    font-weight: bold;
}

.note-box {
	border: 1px solid #D9D9D8;
	margin-bottom: 25px;
}
.note-box h4 {
	background: #06AFF8;
	padding: 2px 10px;
	font-size: 13px;
	color: white;
	line-height: 16px;
}
.note-box p {
	padding: 5px;
	font-size: 11px;
}

