.page-content{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    width: 680px;
}

.left { float: left !important; }
.right { float: right !important; }
.clearer { clear: both; }

.content-box-no-bc {
	background-color: white;
	width: 710px;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 24px;
	padding-bottom: 30px;
}
.min-font {
	font-size: 14px;
	line-height: 18px;
	width: 680px;
}

.boxp {
	font-size: 14px;
	color: #FFF;
	padding: 14px 10px 14px 6px;
	width: 200px;
	margin-bottom: 10px;
}
.boxp.red { background: #313131; }
.boxp.green { background: #e1e0df; color: #313131; }
.boxp.blue { background: #DC0279; }

.icon-tel {
	display: inline-block;
	width: 21px;
	height: 16px;
	line-height: 14px;
	vertical-align: text-bottom;
	background-image: url(shape-contact-icons.png);
	background-position: 0px -10px;
	background-repeat: no-repeat;
}
.icon-fax {
	display: inline-block;
	width: 21px;
	height: 16px;
	line-height: 14px;
	vertical-align: text-bottom;
	background-image: url(shape-contact-icons.png);
	background-position: 0px -62px;
	background-repeat: no-repeat;
}
.icon-adr {
	display: inline-block;
	width: 21px;
	height: 25px;
	line-height: 14px;
	vertical-align: text-bottom;
	background-image: url(shape-contact-icons.png);
	background-position: 0px -120px;
	background-repeat: no-repeat;
}

.maps-contacts {
	width: 700px;
	height: 350px;
	margin-bottom: 35px;
	margin-left: -10px;
}


/*  NEWSLETTER */
#newsletter {
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}

#newsletter .newsletter-content {
  float: right;
  width: 280px;
  height: 235px;
  background-color: #ffffff;
	border: 1px solid #eeeeee;
	border-right: none;
	position: relative;
}
#newsletter h5 {
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 10px;
}
#newsltter p {
	font-size: 15px;
	color: #000;
}

#subForm .control-newsletter { margin-bottom: 10px; }
#subForm .control-newsletter .input-newsletter {
	line-height: 1em;
	height: 32px;
	float: left;
	width: 68%;
}
#subForm .control-newsletter .checkbox .input-newsletter {
	width: 25px;
	height: 15px;
}
#subForm .control-newsletter .btn-submit {
	border: none;
	display: block;
	float: right;
	text-transform: uppercase;
	background: #020b4e;
	font-size: 12px;
	line-height: 1em;
	height: 32px;
	padding: 0 35px;
}
#subForm .control-newsletter label.error {
	position: absolute;
	right: 0;
	font-size: 12px;
	font-weight: bold;
}
#subForm p {
	font-size: 11px;
	padding: 0;
}

#subForm-loader {
	display: none;
	width: 40px;
	position: absolute;
	top: 40%;
	left: 60%;
}

#newsletter .newsletter-content input[type="submit"].btn { font-size: 16px; }
.input-newsletter{ height: 28px; width: 100%; }