.contract {
    width: 430px;
    height: 145px;
    overflow: auto;
    padding: 5px;
    background-color: #dfdfdf;
    margin: auto;
}
.contract-presentation{
    width: 430px;
    margin: auto;
}

.checkbox-container{
    margin-top: 10px;
    clear: both;
    height: 40px;
}

.checkbox-container div{
    float: right;
}

.checkbox-container label {
    margin-right: 10px;;
}

