.cart-box {
	margin-top: 35px;
	color: #1a171b;
}
.cart-box > a {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
.cart-box > a > img {
	vertical-align: bottom;
}
.cart-box > strong {
	padding: 3px 0 0 0px;
	float: right;
	font-size: 14px;
	width: 100px;
	text-align: right;
	border-left: 1px solid #1A171B;
	margin-left: 10px;
}
.cart-box > strong > a { margin-left: 6px; color: green; }
.cart-box > a {
	float: right;
	color: #1a171b;
}

#main{
	width: 960px;
	background: #FFF;
	overflow: hidden;
	margin: 0px auto;
	padding-bottom: 20px;
	padding-top: 10px;
}
#sidebar{
	float: left;
	width: 219px;
	padding: 0px 0px 5px;
	margin-left: 10px;
}
.search-form{
	overflow: hidden;
	margin: 0px 0px 47px;
}
.search-form .text{
	width:180px;
	height:36px;
	padding:0 39px 0 0;
	background:#7c7c7c;
	float:left;
}
.search-form .text input{
	width:170px;
	padding:9px 5px 10px;
	border:0;
	background:none;
	color:#fff;
}
.search-form .btn-search{
	float:left;
	margin:0 0 0 -39px;
	background:url(btn-search.png) no-repeat 50% 50%;
	width:39px;
	height:36px;
	border:0;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
}

.btn{
	margin:0 0 28px 19px;
	background:url(bg-btn.png) no-repeat;
	width:136px;
	height:127px;
	text-align:center;
	font:bold 20px/23px Arial, Helvetica, sans-serif;
	color:#ececec;
	padding:30px 25px;
	display:block;
}
.btn:hover{
	text-decoration:none;
	/*background-position:0 -187px;*/
}
.btn.spedizione{background-position:0 -374px;}

.btn.stampa{
	background-position:0 -748px;
	padding:30px;
	width:126px;
	height:127px;
}

.btn:hover{
    background-position: 0 -188px;
}

.btn.spedizione:hover{
    background-position: 0 -560px;
}

.btn.stampa:hover{
    background-position: 0 -935px;
}



#content{
	width: 700px;
	margin: 0px 0px 0px 20px;
	float: right;
	padding-right: 10px;
}
#content {
	color: #313131;
}

.btn-product{
	position: absolute;
	bottom: 5px;
	left: 6px;
	margin: 0px auto;
	width: 178px;
	height: 55px;
	color: #EFEFEF;
	font-size: 14px;
	line-height: 55px;
	background: url(product-content-box.png) no-repeat -1px -125px;
	padding: 0px 27px 0px 7px;
	text-align: center;
	z-index: 9999;
}
.btn-product:hover{text-decoration:none;}
.blue .box .btn-product {
	background-position: -1px -125px;
}
.green .box .btn-product {
	background-position: -1px -66px;
}
.red .box .btn-product {
	background-position: -1px -5px;
}


.section {
	width: 940px;
	margin: 0px auto;
	overflow: hidden;
	color: #454545;
	padding: 5px 0px 0px;
}
.section .phone{
	float:left;
	font-size: 15px;
	line-height: 34px;
	background:url(ico-phone.png) no-repeat 0 50%;
	margin: 0px 5px 0px 0px;
	padding-left: 45px;
}
.section .phone span{
	color: #06aff8;
	font-size: 18px;
}
.cards{
	margin:4px 0 0;
	padding:0;
	list-style:none;
	float:right;
}
.cards li{
	float:left;
	margin:0 5px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(bg-card.png) no-repeat;
	width:44px;
	height:31px;
}
.cards li a{
	display:block;
	height:100%;
}
.cards .visa{background-position:0 -31px;}
.cards .mastercard{background-position:0 -62px;}
.cards .google{background-position:0 -93px;}

.column{
	float: left;
	margin: 0 15px 0 0;
	width: 220px;
}

.column.place  h3 {
	margin: 0px 0px 16px;
}
.column.contact h3 {
	margin: 0px 0px 10px;
}
.column p{margin:0;}
.column img{vertical-align:top;}
.column .placeholder{
	float:left;
	border:10px solid #c9c9c9;
	width: 415px;
	height: 199px;
	margin-bottom: 10px;
}
.column.place{
	overflow:hidden;
	width: 444px;
	margin: 0px 25px 0px 0px;
}
.column.contact{
	width:220px;
	margin:0;
}
.column address{
	font-style:normal;
	margin-left: 10px;
}
.column .contact{
	margin: 15px 0 2px;
	overflow:hidden;
}
.column .contact dt {
	float:left;
	clear:left;
	margin: 0px 0px 3px 0px;
	width: 60px;
}
.column .contact dd{ margin:0 0 3px; width: 150px;  }
.column a{ color: #313131; }
.social-networks{
	margin:0;
	padding:0;
	list-style:none;
	line-height:23px;
}
.social-networks li {
	margin-top: 20px;
	display: inline-block;
	float: left;
}
.social-networks li a {
	padding: 4px;
	display:block;
}
.skype{
	background:url(ico-skype.png) no-repeat 0 50%;
	padding:0 0 0 38px;
	display:block;
	line-height:27px;
	margin:0 0 23px;
	width: 160px;
}

.logo {
	float: right;
	margin: -13px 0px 0px;
	height: 45px;
	width: 50px;
	background: white;
	text-align: center;
	padding-top: 8px;
}
.logo a{
	display:block;
	height:100%;
}
#twocolumns{
	float:right;
	width:700px;
	padding:0 0 65px;
}
#twocolumns #content{
	float: left;
	width: 459px;
	margin: 0;
	background: #fff;
	color: #313131;
	padding-bottom: 10px;
}
#twocolumns .aside{
	float: left;
	width: 220px;
}
.content-box {
	position: relative;
	text-align: left;
	font-size: 15px;
}
.content-box img{
	/*position:absolute;
	top:0;
	left:0;*/
	vertical-align: middle;
}
.content-box > div.right {
	width: 43%;
	padding: 14px 20px 0px;
}

.content-box h3{
	font-size: 22px;
	line-height: 25px;
	margin:0 0 22px;
}
.content-box p{margin:0;}

.btn-submit {
	width: 279px;
	height: 45px;
	float: right;
	cursor: pointer;
	border:0;
	padding:0;
	margin:0;
}
.btn-submit-mini {
	width: 189px;
	height: 45px;
	float: right;
	cursor: pointer;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.btn-submit > span {
	display: block;
	padding: 12px 25px 13px 12px;
	background: url(btn-buy.png) no-repeat 215px 50%
}
.btn-submit-mini > span {
	display: block;
	padding: 12px 25px 13px 12px;
	background: url(btn-buy.png) no-repeat 145px 50%
}
.btn-submit[disabled] {
	color: #FFF;
	background:#404042;
}
a.btn-submit-mini {
	background-color: #06aff8;
	background-image: none;
	text-shadow: none;
	color: white;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-khtml-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}
a.btn-submit-mini:hover {
	color: #FFFFFF !important;
}
a.btn-submit-mini > span {
	background: none;
	font-weight: bold;
	text-align :center;
	font-size: 15px;
}
a.btn-submit-mini:hover {
	text-decoration: none;
	background-color: #404042;
}



.check {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 15px;
	font-size: 12px;
}
.check .desc {
	float: left;
	width: 322px;
	margin-left: 15px;
}
.check .desc img {
	float: left;
	width: 40px;
	margin-left: -5px;
}
.sel_check {
	float: right;
	width: 100px;
	margin-top: 15px;
	margin-right: 15px;
}
table.order-summary tbody tr td:first-child a {
	text-transform: uppercase;
	font-weight: bold;
	color: #06aff8;
}
#slides {
	margin-bottom: 25px;
	position: relative;
}
.pagination {
	position: absolute;
	top: 0px;
	left: 10px;
}
.pagination li {
	float: left;
	margin: 0 6px 0px 0px;
}
#slides .text-holder {
	width: 220px;
	text-align: center;
	right: 20px;
	background: #06aff8 url(bg-text-holder.png) no-repeat 0px 80px;
}
.text-holder p {
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	color: #3f6466;
	margin-top: 5px;
}
.text-holder p em {
	font-size: 16px;
	text-decoration: line-through;
}
.text-holder.slider strong {
	color: #FFF;
	line-height: 25px;
	font-size: 20px;
}
.text-holder.slider p {
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	width: 214px;
	left: 0px;
	top: 125px;
	line-height: 20px;
	padding: 10px;
}
.title-holder {
	width: 216px;
	margin-left: -8px;
	margin-top: -8px;
	height: 60px;
	vertical-align: middle;
	font-size: 18px;
	background: #06aff8;
	color: #FFFFFF;
	padding: 10px;
	line-height: 25px;
	text-align: center;
}
#slides .pagination li a {
	background-image: url(pagination.png);
}
.promo-content {
	margin-top: 8px;
	margin-left: 3px;
}
.promo-pz {
	color: #3F6466;
	margin: 0px 0px 8px;
	font-size: 16px;
	font-weight: bold;
}
.label-time {
	margin: 3px 0px 10px;
	padding-left: 1px;
}
.label-time ul li {
	float: left;
	background: #E42424;
	color: white;
	font-size: 10px;
	width: 52px;
	margin-left: 2px;
}


.btn-promo {
	border-color: #C5C5C5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	color: white;
	display: inline-block;
	padding: 8px 45px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	cursor: pointer;
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(to bottom, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: #51A351 #51A351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #BBB;
	border-bottom-color: #A2A2A2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-promo:hover {
	color: white !important;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	background-color: #51A351;
}

.ab-error {
	color: white;
	background: #313131;
	position: absolute;
	width: 183px;
	height: 143px;
	padding: 10px;
	text-align: center;
	font-size: 15px;
}

.banner_list {
	position: relative;
	-webkit-box-shadow: 1px 1px 4px #313131;
	-moz-box-shadow: 1px 1px 4px #313131;
	box-shadow: 1px 1px 4px #313131;
	height: 137px;
	margin-bottom: 20px;
}
.caption-content {
	position: absolute;
	background: url(caption-content.png) no-repeat;
	width: 159px;
	height: 138px;
	top: -1px;
	right: 0px;
}
.caption-title {
	float: right;
	width: 98px;
	height: 118px;
	color: #313131;
	padding: 15px 8px 10px 0px;
	font-size: 16px;
	text-align: right;
	line-height: 18px;
}

.slides_container {
	width: 700px;
	height: 287px;
}


.upload_btn {
	position: absolute;
	top: -4px;
	right: 35px;
	width: 127px;
}

.privacy-required {
	border: 1px solid #333;
	padding: 10px;
	height: 200px;
	overflow: scroll;
	background: #eaeaea;
	margin-bottom: 20px;
}