#add_banners label.error {
    position: absolute;
    z-index: 21;
    margin: 0;
    right: -233px;
    width: 212px;
    border: solid thin;
    background-color: white;
    top: -5px;

    background-color: white;
    border: 1px solid #E45353;
    border: 1px solid rgba(228, 83, 83, 1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#add_banners input[type="text"] {
    float: right;
    width: 250px;
}
#add_banners .custom-size input[type="text"] {
    width: 100px;
	float: none;
	clear: none;
}

#add_banners .error {
    border-color: #E45353;
}