.black-header{
    height: 50px;
    background-color: #313131;
    clear: both;
    margin-top: 10px;
}

.black-header span{
    font-size: 20px;
    color: #cacaca;
    font-weight: bold;
    display: block;
    padding-top: 16px;
    padding-left: 15px;
}

#buy-button{
    width: 200px;
    height: 45px;
    display: table-cell;
    background-color: #3FBDE7;
    text-align: center;
    vertical-align: middle;
}

#buy-button span{
    color: #313131;
    font-size: 18px;
    float: left;
    margin-left: 54px;
    padding: 0;
}

#buy-button .cart-icon{
    background: url("cart_button.png") no-repeat;
    height: 22px;
    width: 27px;
    display: block;
    float: right;
    margin-right: 15px;
    margin-left: 0;
}

.cart-div div{
    float: right;
}

#first-step .black-header{
    margin-top: 0;
}

