<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= wicked_pdf_stylesheet_link_tag "store/main-pdf" %>
</head>
<body>
	<div id="wrapper">
		<div id="header" class="clearfix row">
			<div class="col9">
				<%= wicked_pdf_image_tag(Spree::Config[:invoice_seller_logo], :class => "logo") %>
			</div>
			<div class="col3" style="padding: 10px;">
				<p class="small bold">Data Documento <%= l(@order.completed_at, :format => "%d/%m/%Y") %></p>
				<p>Fattura n° <strong><%= @invoice_print.invoice_number %></strong></p>
				<p>Rif. Ordine <strong><%= @order.number %></strong></p>
				<p>Rif. DDT <strong><%= @order.transport_document.id if @order.transport_document.present? %></strong></p>
			</div>
		</div>
		<div id="content" class="row">
			<div class="clearfix">
				<div class="col3">
					<h2>DATI VENDITORE</h2>
					<p><%= Spree::Config[:invoice_seller_details].gsub("|", "<br />").html_safe %></p>
				</div>
				<div class="col4 right right-txt">
					<h2>DATI CLIENTE</h2>
					<p class="bold"><%= @order.billing_address.firstname %> <%= @order.billing_address.lastname %></p>
					<% if @order.billing_address.tax_id_number %>
					<p>C.F. <%= @order.billing_address.tax_id_number %></p>
					<% end %>
					<% if !@order.billing_address.vat_number.blank? %>
					<p>P.IVA <%= @order.billing_address.vat_number %></p>
					<% end %>
					<p><%= @order.billing_address.phone %></p>
					<p><%= @order.billing_address.address1 %></p>
					<p><%= @order.billing_address.zipcode %> <%= @order.billing_address.city %> (<%= @order.billing_address.state_text %>)</p>
				</div>
			</div>
			<br class="clearer"><br class="clearer">
			<div class="col12">
				<table class="table">
					<thead>
						<tr class="info">
							<th style="text-align: left;">Ordine</th>
							<th>Quantit&agrave;</th>
							<th>Prezzo Unitario</th>
							<th>Importo</th>
						</tr>
					</thead>
					<tbody>
						<% @order.line_items.each do |li| %>
						<tr>
							<td style="text-align: left">
								<p class="bold"><%= li.product.name %></p>
								<p style="width: 500px; font-style:italic;"><%= "#{t(:format)}: #{li.format}, " %><%= "#{t(:orientation)}: #{li.orientation}, " if li.orientation %><%= "#{t(:printing_instructions)}: #{li.printing_instructions}, " if li.printing_instructions %><%= "#{t(:paper)}: #{li.paper}, " %><%= "#{t(:weight)}: #{li.paper_weight} gr, " %><%= "#{t(:plasticization)}: #{li.plasticization}, " %><%= "#{t(:print_color)}: #{li.print_color rescue ""}, " %><%= "#{t(:shipping_at)}: #{l(li.shipping_date, :format => "%A %d/%m/%Y")}" %></p>
							</td>
							<td><%= li.number_of_copy %></td>
							<td><%= (li.total.to_f/li.number_of_copy.to_i).to_s %> €</td>
							<td class="bold"><%= li.total.to_s %> €</td>
						</tr>
						<% end %>
						<tr>
							<th colspan="3">Riepilogo</th>
							<th>Importo</th>
						</tr>
						<tr>
							<td colspan="3">Imponibile</td>
							<td class="bold"><%= @order.total_without_vat.to_s %> €</td>
						</tr>
						<tr>
							<td colspan="3">Altri Importi</td>
							<td class="bold"><%= @order.presentation_pack.price.to_s %> €</td>
						</tr>
						<tr>
							<td colspan="3">IVA (22%)</td>
							<td class="bold"><%= @order.total_vat.to_s %> €</td>
						</tr>
						<tr>
							<td colspan="3">Spese di Spedizione</td>
							<td class="bold"><%= @order.total_shipping.to_s %> €</td>
						</tr>
						<tr>
							<td colspan="3">Totale</td>
							<td class="bold"><%= @order.total.to_s %> €</td>
						</tr>							
					</tbody>
				</table>
			</div>
			<br class="clearer"><br class="clearer">
			<div class="col6">
				<h3>CONDIZIONI DI VENDITA</h3>
				<p class="mini">GS Printing Group s.r.l. non sarà responsabile nei confronti del committente e/o beneficiario della prestazione se diverso, per danni di qualsiasi specie, sia diretti che indiretti, derivanti da eventuali errori, di ogni natura, nella stampa del file inviato dal cliente o derivanti dalla ricezione di materiale sbagliato.<br />In tali casi GS Printing Group s.r.l. sarà tenuta esclusivamente ad effettuare una sola ristampa del materiale. Parimenti GS Printing Group s.r.l. non sarà responsabile per danni, diretti e indiretti, dovuti alla mancata e/o ritardata consegna del materiale, né sarà responsabile di eventuali deterioramenti dell’imballaggio; in tali casi sarà tenuta esclusivamente ad effettuare una sola ristampa del materiale a condizione che il pacco venga accettato dal cliente "con riserva dei vizi" che dovranno essere elencati sulla ricevuta rilasciata dal corriere e comunicati a GS Printing Group s.r.l. a mezzo fax, a pena di decadenza, entro tre giorni dalla ricezione del plico.<br />Eventuali errori nella stampa o nel confezionamento del materiale vanno segnalati alla email info@gsprintingroup.it con documentazione fotografica digitale allegata, avendo cura di indicare nell’oggetto il numero d’ordine di riferimento, entro tre giorni dalla ricezione del materiale. Per le email ricevute non più tardi delle 17 di un giorno lavorativo, risponderemo entro due ore.</p>
			</div>
			<div class="col6">
				<h3>CONDIZIONI DI PAGAMENTO</h3>
				<p class="mini">Il saldo degli ordini avviene alla consegna della merce presso i nostri magazzini o direttamente al corriere in caso di consegna a domicilio.<br/>
				Qualora non sia possibile effettuare il pagamento alla consegna, è necessario provvedere con pagamento anticipato a mezzo bonifico bancario o altra modalità da noi prevista (consultare le "modalità di pagamento"). In caso contrario, non si darà seguito all'evasione dell'ordine.<br/>
				Sono escluse dilazioni di pagamento.</p>
				<br class="clearer"/>
				<h3>MODALITA' DI PAGAMENTO</h3>
				<p class="mini">Carta di credito, bonifico bancario, paypal, pagamento in contrassegno al corriere (contanti od assegno bancario).</p>
			</div>
		</div>
	</div>
</body>
</html>
