<!--[if lt IE 8 ]>
<div id="gogole_chrome" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	    <h3>BROWSER NON SUPPORTATO</h3>
	  </div>
	<div class="modal-body">
		<p style="text-align: center;">Usa un browser web veloce e gratuito!</p>
		<p style="text-align: center;">Un unico browser per il computer, il telefono e il tablet</p>
		<p style="text-align: center;">
			<a class="button eula-download-button" data-g-event="cta" data-g-label="download-chrome" href="http://www.google.it/intl/it/chrome/browser/">Scarica Chrome</a>
		</p>
		<img alt="" src="http://www.google.it/intl/it/chrome/assets/common/images/marquee/download-hero-cros_2x.jpg" width="100%">
	</div>
</div>
<script>
	$("#gogole_chrome").modal({ keyboard: false });
	$("#gogole_chrome").modal('show');
</script>
<![endif]-->


<div id="header">
	<div class="header-holder">
		<div class="header-block">
			<div class="left">
				<h1><%= link_to('Print2Go', root_path) %></h1>
				<ul id="main-nav">
					<li class="home<%= " active" if controller_name == "home" %>"><%= link_to("home", root_path) %></li>
					<li class="products<%= " active" if (controller_name == "business_cards" || controller_name == "posters" || controller_name == "flayers" || controller_name == "paperbacks" || controller_name == "staples" || controller_name == "banners") %>">
						<a href="javascript: void(0)">prodotti</a>
						<%= insert_menu(:category => "header") %>
					</li>
					<li class="about<%= " active" if controller_name == "static_pages" && params[:id] == "chi-siamo" %>"><a href="/pages/chi-siamo">chi siamo</a></li>
					<li class="contact<%= " active" if controller_name == "static_pages" && action_name == "contacts" %>"><a href="/contacts">contatti</a></li>
					<li class="blog"><a target="_blank" href="http://blog.gsprintingroup.it">blog</a></li>
					<li class="newsletter"><a href="#newsletter">newsletter</a></li>
				</ul>
			</div>
			<div class="right">
				<ul id="navigation">
					<% if current_user %>
					<li class="login"><%= link_to("Logout", destroy_user_session_path, :method => :get) %></li>
					<% else %>
					<li class="login"><%= link_to(content_tag(:span, "Login"), new_user_session_path) %></li>
					<li class="register"><%= link_to "Registrati", new_user_registration_path %></li>
					<% end %>
					<li class="account"><%= link_to("il mio account", account_path) %></li>
					<li class="info"><a href="/pages/info">info</a></li>
				</ul>
				<div class="cart-box">
					<strong><%= number_to_currency((current_order.blank?) ? 0 : current_order.total) %> <%= link_to(">>", cart_path, :class => "green") %></strong>
					<%= link_to(cart_path, :class => "product_number") do %>
						<%= image_tag("store/bg-cart-box.png") %> <%= current_order.nil? ? '0' : current_order.line_items.count %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
