<meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<meta name="google-site-verification" content="1B6VV8Q79RqyLhXw3PNUhv2WNO7LcQzE2bJ6HDDReU4" />
<%== meta_data_tags %>
<%= favicon_link_tag image_path('favicon.ico') %>

<%= stylesheet_link_tag 'store/all', :media => 'screen' %>

<%= csrf_meta_tags %>

<%= javascript_include_tag 'store/all' %>
<!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<%= yield :head %>

<%= conversion_flash %>
