<div id="newsletter">
	<div class="container">
		<div class="row">
			<div class="columns seven">
				<h5><%= t("newsletter.title") %></h5>
				<p><%= raw t("newsletter.description") %></p>
			</div>
			<div class="columns seven">
				<%= form_tag(subscribe_url, :method => :post, :id => "subForm", :remote => true) do |f| %>
					<div class="control-newsletter clearfix">
						<%= text_field_tag :mc_email, nil, {:class => "input-newsletter", :id => "mc_email", :placeholder => t("newsletter.email")} %>
						<%= submit_tag(t("newsletter.subscribe"), :class => "btn-submit") %>
					</div>
					<div class="control-newsletter clearfix">
						<label class="checkbox">
							<%= check_box_tag :mc_privacy, 1, false, {:class => "input-newsletter", :id => "mc_privacy"} %> <%= raw t("newsletter.privacy") %>
						</label>
					</div>
					<p><%= t("newsletter.sub_form_text") %></p>
				<% end %>
				<%= image_tag 'store/ajax-loader.gif', :id => 'subForm-loader' %>
			</div>
			<div class="columns two">
				
			</div>
		</div>
	</div>
</div>

<script>
$(function(){
	$("#subForm").validate({
		rules: {
			mc_email: {
				required: true,
				email: true
			},
			mc_privacy: {
				required: true
			}
		}
	});

	// $("#subForm").bind("submit", function() {
// 		$("#subForm").hide();
// 		$("#subForm-loader").show();
// 	});
});
</script>