<div id="sidebar" xmlns="http://www.w3.org/1999/html">
	<%#= render :partial => 'spree/shared/search' %>
	<%= insert_menu(:category => "sidebar", :id => "nav") %>
	<%= insert_banner(:category => "promo", :max => 4, :class => "banner_list", :style => "sidebar") %>
</div>
